/*==========-webkit-device-pixel-ratio:2.0)==================*/
/*@media screen and (-webkit-device-pixel-ratio:2.0) {*/
.header span {
	background:url(../bus_images/dpi2/ls.png) no-repeat right center;
	background-size:12px 6px;
}
.tbtn-l a, .tbtn-r a {
	background:url(../bus_images/dpi2/ar.png) no-repeat center bottom;
	background-size:10px 32px;
}
.tbtn-r.sx a {
	background:url(../bus_images/dpi2/sx.png) no-repeat center bottom;
	background-size:20px 40px;
}
.h-inp {
	border-width:4px;
	-webkit-border-image:url(../bus_images/dpi2/h-inp.png) 8 repeat;
}
.tbtn-l.curr a, .tbtn-r.curr a {
	background-position: center top;
}
/*-----------4.18-------------*/
.ss_right {
	background:#FFFFFF url(../bus_images/dpi2/huanceng.png) no-repeat 50% 50%;
	background-size:26px 46px;
}
.ss_left h2 {
	background:url(../bus_images/dpi2/dian_blue.png) no-repeat 0 50%;
	background-size:12px 16px;
}
.ss_left h2.myh2 {
	background:url(../bus_images/dpi2/dian_red.png) no-repeat 0 50%;
	background-size:12px 16px;
}
.h-list li h2 span.jtz {
	background:url(../bus_images/dpi2/Arrow_black.png) no-repeat 0 0;
	background-size:10px 8px;
}
.h-list li .jtd {
	background:url(../bus_images/dpi2/Arrow_down.png) no-repeat 0 0;
	background-size:14px 8px;
}
.h-list li a.a1 {
	background:url(../bus_images/dpi2/here01.png) no-repeat 10px 10px;
	background-size:16px 22px;
}
.h-list li a.a2 {
	background:url(../bus_images/dpi2/here02.png) no-repeat 10px 10px;
	background-size:16px 22px;
}
.h-list li a.a3 {
	background:url(../bus_images/dpi2/here03.png) no-repeat 10px 10px;
	background-size:16px 22px;
}
.h-list li a.a4 {
	background:url(../bus_images/dpi2/here04.png) no-repeat 10px 10px;
	background-size:16px 22px;
}
.h-list li a.a5 {
	background:url(../bus_images/dpi2/here05.png) no-repeat 10px 10px;
	background-size:16px 22px;
}
.h-list li a.a6 {
	background:url(../bus_images/dpi2/here06.png) no-repeat 10px 10px;
	background-size:16px 22px;
}
.h-list li a.a7 {
	background:url(../bus_images/dpi2/here07.png) no-repeat 10px 10px;
	background-size:16px 22px;
}
.h-list li a.a8 {
	background:url(../bus_images/dpi2/here08.png) no-repeat 10px 10px;
	background-size:16px 22px;
}
.h-list li a.a9 {
	background:url(../bus_images/dpi2/here09.png) no-repeat 10px 10px;
	background-size:16px 22px;
}
.h-list li a.a10 {
	background:url(../bus_images/dpi2/here10.png) no-repeat 10px 10px;
	background-size:16px 22px;
}
.more p.m1 {
	background:url(../bus_images/dpi2/qidian.png) no-repeat 10px 0;
	background-size:34px 24px;
}
.more p.m2 {
	background:url(../bus_images/dpi2/qiehuan.png) no-repeat 24px 0;
	background-size:18px 18px;
}
.more p.m3 {
	background:url(../bus_images/dpi2/man.png) no-repeat 28px 0;
	background-size:14px 20px;
}
.more p.m4 {
	background:url(../bus_images/dpi2/zhongdian.png) no-repeat 10px 0;
	background-size:34px 24px;
}
.i_right {
	background: #FFFFFF url(../bus_images/dpi2/huanceng.png) no-repeat 50% 50%;
	background-size:26px 46px;
}
.i_left h2.q {
	background: #fff url(../bus_images/dpi2/q.png) no-repeat 10px center;
	background-size:6px 6px;
}
.i_left h2.z {
	background:#fff url(../bus_images/dpi2/z.png) no-repeat 10px center;
	background-size:6px 6px;
}
.p_empty {
	background: url(../bus_images/dpi2/cancel.png) no-repeat center;
	background-size:20px 20px;
}
/*--------------loading full----------------*/
.loadimg span { background: url(../per_img/dpi2/ld.png) no-repeat center top; background-size: 20px 60px; }
.loadqx { background: url(../per_img/dpi2/ld.png) no-repeat 20px -30px; background-size: 20px 60px; }

/*}*/
